@import variables
.small-text

    font-size: 1.5vw
.medium-text
    font-size: 3vw
.large-text
    font-size: 5vw
    a
        text-decoration: none
        color: white
.footer-text
    font-size: 2rem

.first

    display: flex
    align-items: center
    justify-content: center
    .typing
        width: 80vw
        height: 65%
        color: $default-color
