* {
  box-sizing: border-box;
  font-family: "Finlandica", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1234;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.nav .nav-container {
  width: 95%;
  min-height: 4rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-container a {
  min-width: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: #02cc45;
  font-size: 1.2em;
  margin: 0.5em 1em;
  padding-right: 2px;
  transition: color ease-in-out 0.3s;
}
.nav .nav-container a:hover {
  color: #00ff55;
}

.logo-img {
  font-size: 2rem;
  padding: 0 10px;
  color: white;
  margin-right: 1rem;
  position: relative;
}

.selected:after {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  animation: selection-animation ease-in-out 0.2s;
  animation-fill-mode: forwards;
  height: 100%;
  background-color: #00ff55;
  opacity: 0.5;
}

#cursor {
  background: lime;
  position: absolute;
  top: 25%;
  right: -6px;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 15px;
}

.animated {
  animation: float-logo 1s ease-in-out infinite alternate both;
}

.mobile-menu {
  display: none;
}

.small-text {
  font-size: 2em;
}

.medium-text {
  font-size: 3rem;
}

.large-text {
  font-size: 4rem;
}
.large-text a {
  text-decoration: none;
  color: white;
}

.footer-text {
  font-size: 2rem;
}

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  flex-basis: 100vh;
}

.first {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first .typing {
  width: 80%;
  height: 65%;
  color: #02cc45;
}

.second {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second .projects-container {
  padding-top: 5%;
  text-align: center;
  font-size: 3vw;
  width: 90%;
  height: 90%;
  color: #02cc45;
}

.menu {
  background-color: transparent;
  z-index: 99;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #02cc45;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: none;
  background-color: #0F3325;
}
.dropdown .dropdown-container {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}
.dropdown .dropdown-container a {
  font-size: 3em;
}

@keyframes float-logo {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: lime;
  }
  100% {
    background: #222;
  }
}
@keyframes selection-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .web-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .large-text {
    font-size: 5vh;
  }
  .medium-text {
    font-size: 4vh;
  }
  .small-text {
    font-size: 2.5vh;
  }
  .ti-cursor {
    z-index: 1;
    font-size: 3.3vh !important;
  }
  .projects-container {
    font-size: 2em !important;
    margin-top: 10vh;
  }
}

/*# sourceMappingURL=nav.css.map */
