$nav-font: 'Finlandica', sans-serif
$nav-font-size: 2rem
$hover-color: #00ff55
$default-color: #02cc45
$nav-bg-color: #0F3325
*
    font-family: $nav-font
    margin: 0
    padding: 0

.nav
    width: 100%
    background-color: $nav-bg-color
    display: flex
    align-items: center
    justify-content: center
    .nav-container
        width: 95%
        min-height: 4rem
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center

        a
            min-width: 30px
            align-items: center
            justify-content: center
            position: relative
            text-decoration: none
            color: $default-color
            font-size: 1.2em
            margin: 0.5em 1em
            padding-right: 2px
            transition: color ease-in-out 0.3s
            &:hover
                color: $hover-color

.logo-img
    font-size: $nav-font-size
    padding: 0 10px
    color: white
    margin-right: 1rem
    position: relative

.selected:after
    overflow: hidden
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 0
    animation: selection-animation ease-in-out 0.2s
    animation-fill-mode: forwards
    height: 100%
    background-color: $hover-color
    opacity: 0.5

#cursor
    background: lime
    position: absolute
    top: 25%
    right: -6px
    line-height: 17px
    margin-left: 3px
    -webkit-animation: blink 0.8s infinite
    width: 7px
    height: 15px
.animated
    animation: float-logo 1s ease-in-out infinite alternate both
.mobile-menu
    display: none
// MOBILE MENU
.menu
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    padding: 0

.line
    fill: none
    stroke: $default-color
    stroke-width: 6
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1)

.line1
    stroke-dasharray: 60 207
    stroke-width: 6

.line2
    stroke-dasharray: 60 60
    stroke-width: 6

.line3
    stroke-dasharray: 60 207
    stroke-width: 6

.opened
    .line1
        stroke-dasharray: 90 207
        stroke-dashoffset: -134
        stroke-width: 6

    .line2
        stroke-dasharray: 1 60
        stroke-dashoffset: -30
        stroke-width: 6

    .line3
        stroke-dasharray: 90 207
        stroke-dashoffset: -134
        stroke-width: 6

////ANIMATIONS

@keyframes float-logo
    0%
        bottom: 0px
    50%
        bottom: 5px
    100%
        bottom: 0px

@-webkit-keyframes blink
  0% 
    background: #222
  50% 
    background: lime
  100% 
    background: #222

@keyframes selection-animation
    0%
        width: 0
    100%
        width: 100%
////RESPONSIVENESS
@media only screen and( max-width:768px)
    .web-menu
        display: none
    .mobile-menu
        display: flex
